.wrapper {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 0;
}

.btn-add-address {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 1.6rem;
    background-color: var(--button-next-color);
    color: white;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    cursor: pointer;
}

.btn-add-address:hover {
    opacity: 0.9;
}

.address-list {
    margin-top: 10px;
}