.wrapper {
    margin-bottom: 20px;
    height: 1450px;
    position: relative;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}