.wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: var(--navbar-color);
    margin: 100px 0 5px 0;
}

.wrappermenu {
    width: 1200px;
    background-color: var(--navbar-color);
}