.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    height: 50px;
    border-bottom: 1px solid #e5e1da;
    margin-bottom: 20px;
}

.cal-all {
    position: sticky;
    bottom: 0;
    background-color: white;
    margin-top: 10px;
    height: 100px;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}

.btn {
    background-color: var(--button-next-color);
    color: white;
    width: 200px;
}
