.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f2ee;
}

.container {
    width: 1200px;
    display: flex;
    flex-direction: column;
    background-color: #f4f2ee;
    min-height: calc(100vh - 300px);
}
