.wrapper {
    margin: 20px 0;
    height: 1450px;
    position: relative;
    display: flex;
}

.contents {
    display: flex;
    flex-direction: column;
    position: relative;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}