.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.container {
    width: 1200px;
    display: flex;
    background-color: #f5f5f5;
    min-height: calc(100vh - 480px);
    margin: 20px 0;
}

.content {
    display: flex;
    margin-left: 15px;
    padding: 0px 30px 10px 30px;
    background-color: white;
    width: 100%;
}
