.wrapper {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.inner {
    display: flex;
    height: 100%;
    width: 1200px;
    background-color: #fff;
    justify-content: space-between;
}

.element1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .ggplayicon {
        height: '80px';
        width: '208px';
        margin-bottom: 30px;
    }

    .logo-wrapper {
        display: flex;
        align-items: center;
        margin-top: 10px;
        .logo {
            height: 100px;
            width: 100px;
        }

        .logo-title {
            height: 60px;
            width: 140px;
        }
    }
}

.element2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 20px;
}

.element3 {
    display: flex;
    flex-direction: column;

    .title3 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .social-icons {
        display: flex;
        width: 200px;
        font-size: 3rem;
        justify-content: space-between;
    }
}

.list-button {
    display: flex;

    .appstoreicon {
        margin-left: 20px;
        width: 184px;
        height: 55px;
    }
    .ggplayicon {
        width: 184px;
        height: 55px;
    }
}