.wrapperfixed {
    height: 100px;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    justify-content: center;
    background-image: linear-gradient(to left, var(--start-color), var(--mid-color), var(--end-color));
}

.wrappernonfixed {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to left, var(--start-color), var(--mid-color), var(--end-color));
}

.inner {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    width: 1200px;
}

.logo-wrapper {
    display: flex;
    align-items: center;

    .logo {
        height: 100px;
        width: 100px;
    }
    
    .logo-title {
        height: 60px;
        width: 140px;
    }
}

.search-container {
    width: 60%;
    margin-left: 50px;
}

.right-menu {
    display: flex;
    align-items: center;
    height: 120px;
    margin-left: 75px;

    .cart {
        margin-right: 35px;
        margin-top: 7px;

        .cart-btn:hover {
            background-color: initial !important;
        }
    }

    .user {
        position: absolute;
        top: 0;
        right: 0;
        .user-btn:hover {
            color: #fff;
            background-color: var(--button-color);
        }
    }
}