.wrapperfixed {
    height: 95px;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    justify-content: center;
    background-color: var(--header-color);
    //background-image: linear-gradient(to left, var(--start-color), var(--mid-color), var(--end-color));
}

.wrappernonfixed {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--header-color);
    //background-image: linear-gradient(to left, var(--start-color), var(--mid-color), var(--end-color));
}

.inner {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    width: 1200px;
}

.logo-wrapper {
    display: flex;
    align-items: center;

    .logo {
        height: 70px;
        width: 70px;
    }

    .logo-title {
        height: 50px;
        width: 110px;
    }
}

.search-container {
    width: 66%;
    margin-left: 30px;
    margin-top: 5px;
}

.right-menu {
    display: flex;
    align-items: center;
    height: 120px;
    margin-left: 20px;

    .cart {
        //margin-left: 5px;
        margin-top: 10px;

        .cart-btn:hover {
            background-color: initial !important;
        }
    }

    .user {
        display: flex;
        align-items: center;
        margin-left: 15px;
        .user-btn:hover {
            color: #fff;
            background-color: var(--button-next-color);
        }
    }
}

.auth-btn {
    margin-right: 10px;
    background-color: white;
    color: var(--button-next-color);
    font-weight: 500;
}