.wrapperfixed {
    height: 110px;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    justify-content: center;
    background-color: var(--header-color);
    //background-image: linear-gradient(to left, var(--start-color), var(--mid-color), var(--end-color));
}

.wrappernonfixed {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--header-color);
    //background-image: linear-gradient(to left, var(--start-color), var(--mid-color), var(--end-color));
}

.inner {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    width: 1200px;
}

.logo-wrapper {
    display: flex;
    align-items: center;

    .logo {
        height: 90px;
        width: 90px;
    }

    .logo-title {
        height: 55px;
        width: 135px;
    }
}

.search-container {
    width: 60%;
    margin-left: 50px;
    margin-top: 15px;
}

.right-menu {
    display: flex;
    align-items: center;
    height: 120px;
    margin-left: 40px;

    .cart {
        margin-left: 35px;
        margin-top: 28px;

        .cart-btn:hover {
            background-color: initial !important;
        }
    }

    .user {
        position: absolute;
        top: 0;
        right: 0;
        .user-btn:hover {
            color: #fff;
            background-color: var(--button-next-color);
        }
    }
}

.auth-btn {
    margin-right: 10px;
    background-color: white;
    color: var(--button-next-color);
    font-weight: 500;
}
