.wrapper {
    display: flex;
    flex-direction: column;
}

.pet-detail-image {
    height: 400px;
    width: 450px;
} 

.pet-detail-information {
    display: flex;
    margin: 20px 0;
    background-color: white;
    padding: 15px;
    .pet-detail-info {
        padding: 20px;
        flex-grow: 1;

        .pet-detail-info-desc {
            display: flex;
            align-items: center;
            margin-top: 3rem;

            .star-rating {
                display: flex;
                align-items: center;
                border-right: 1px solid rgba(0, 0, 0, 0.1);
                padding: 0 15px 0 0;
            }

            .sold {
                padding: 0 0 0 15px;
            }
        }
        .price {
            background-color: #fafafa;
            height: 66px;
            margin-top: 3rem;
            font-size: 30px;
            display: flex;
            align-items: center;
        }

        .tutorial {
            color: red;
            margin-top: 3rem;
        }
    }
}

.pet-detail-shop {
    display: flex;
    background-color: white;
    margin: 0 0 20px 0;
    padding: 30px;
    width: 100%;
    .pet-detail-shop-left {
        display: flex;
        align-items: center;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0 25px 0 0;

        .pet-detail-shop-info {
            height: 100%;
            padding: 20px 0 0 10px;
        }
    }

    .pet-detail-shop-right {
        padding: 0 0 0 25px;
        width: 800px;
    }
}

.pet-detail-description {
    background-color: white;
    padding: 30px;
    margin: 0 0 20px 0;

    .pet-detail-description-content {
        margin-top: 15px;
    }
}

.pet-detail-rating {
    padding: 30px;
    background-color: white;
    margin: 0 0 20px 0;
    position: relative;

    .header-rating {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    
    .Button-rating {
        position: absolute;
        right: 30px;
        top: 30px;
        width: 200px;
        height: 40px;
        background-color: var(--start-color);
        color: white;
    }

    .rated-text {
        position: absolute;
        right: 35px;
        top: 30px;
        color: red;
    }
}


.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}